<h1>Listing babels</h1>

<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    data-image="/square-image.png"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-amount="2000">
  </script>
</form>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @babels.each do |babel| %>
      <tr>
        <td><%= babel.message %></td>
        <td><%= link_to 'Show', babel %></td>
        <td><%= link_to 'Edit', edit_babel_path(babel) %></td>
        <td><%= link_to 'Destroy', babel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Babel', new_babel_path %>
