<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="col-md-6">
      <%= f.input :firstname, :label => "First name"  %>
    </div>
    <div class="col-md-6">
      <%= f.input :lastname, :label => "Last name" %>
    </div>
    <div class="col-md-12">
      <%= f.input :email %>
      <%= f.label :language %> <br>
      <%= f.select(:language, options_for_select([['Chinese', 'Chinese'], ['Japanese', 'Japanese'], ['Korean', 'Korean'], ['Spanish', 'Spanish'], ['French', 'French'], ['German', 'German']], 2)) %>
      <div class="form-actions">
        <%= f.button :submit, :class => "btn btn-success" %>

      </div>
    </div>

  </div>

  
<% end %>
