<div class="collapse navbar-collapse" id="babel-navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li>
				  <%= link_to edit_user_registration_path, :id => "header-CTA" do %> 
				  Hi <%= current_user.username %>!
				  <% end %>
				</li>
				<li>
				  <%= link_to destroy_user_session_path, :method => :delete, class: "dropdown-toggle CTA", id: "header-signout" do %>
				    Log out
				  <% end %>
				  <ul class="dropdown-menu signed-out pull-right" role="menu">
				  </ul> 
				</li>
      </ul>
      <div class="hidden" id="sign-in-count">
      	<%= current_user.sign_in_count %>
      </div>
      <div class="hidden" id="contacts-count">
      	<%= current_user.contacts.count %>
      </div>
    </div><!-- /.navbar-collapse -->

